*{  
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Share Tech Mono', monospace;
}

.cabecalho {
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-texto{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.cabecalho-texto:hover{
    color:aqua;
    text-decoration: underline;
    text-decoration: none;
    
}

.logotipo-header{
    width: 18%; 
}

   
.cabecalho-lista-item{
    display: inline;
    margin: 0 35px;
    font-size: 24px;
  
}

.escola-imagem{
    width: 18%;
}

.escola{
    background: #A69F95;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 30%;
}

.escola-titulo{
    padding: 15px 0;
    
}

.saibamais-bnt{
    background-color: #A69F95;
    border: none;
    color: #5c21d1;
    text-decoration: underline;
    cursor: pointer;
}

.estudante{
    background: #A69F95;
}

 .estudante-imagem{
    width: 120px;
    }

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 1% 13%;
}



.escola-imagem{
    width: 18%;
}

.escola{

    background: #A69F95;    
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.estudante2 {
    background: #A69F95;
}

 .estudante-imagem2{
    width: 180px;
    
}

.estudante-div2{
    text-align: center;
}

.estudante-titulo2{
    text-align: center;
    font-size: xx-large;
    height: 100px;
}

.estudante-todos2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 1% 10%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 190px;
}

.texto-rodape{
    color: white;
    font-size: x-small;
}

:root{
    --cor-de-fundo: #ebecee


}

body{
    background-color: var(--cor-de-fundo);
}