*{  
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Share Tech Mono', monospace;
}

.cabecalho {
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-texto{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.cabecalho-texto:hover{
    color:aqua;
    text-decoration: underline;
    text-decoration: none;
    
}

.logotipo-header{
    width: 18%; 
}

   
.cabecalho-lista-item{
    display: inline;
    margin: 0 35px;
    font-size: 24px;
  
}

.escola-imagem{
    width: 18%;
}

.escola{
    background-image: linear-gradient(BLACK,gray, white);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
    align-items: center;
    
}

 .estudante-imagem{
    width: 120px;
    }

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0 0;
    margin: 1% 13%;

}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 200px;
}

.texto-rodape{
    color: white;
    font-size: x-small;
}